<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/normalize.css" />
    <title>Detalle del Producto - GaBook</title>
    <link rel="stylesheet" href="./css/styles.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header></header>

    <main class="main-product-detail">
      <section class="main-info-libro">
        <h1>Cien años de soledad</h1>
        <h2>Gabriel Garcia Marquez - Editorial Sudamericana</h2>
        <div class="main-div--img">
          <img src="./images/cien-anos-de-soledad.gif" alt="Imagen del libro" />
        </div>
        <article>
          <p class="precio">$ 100.000 COP</p>
          <p>Valoración</p>
          <p>10/10</p>
        </article>
        <article class="comprar">
          <input type="number" placeholder="1" />
          <a href="#"
            ><i class="fas fa-shopping-cart"></i> Agregar al carrito</a
          >
          <button>COMPRAR</button>
        </article>
      </section  >
      <section class = "sipnosis-table">
        <article class="sipnosis">
          <h2>Sipnosis</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam,
            ducimus magnam. Adipisci neque minus ut? Qui dolore illum tempora
            amet. Ipsam unde inventore ut harum tenetur corrupti praesentium
            tempora doloremque.
          </p>
        </article>
        <table>
          <tr>
            <td>Autor:</td>
            <td>Gabriel Garcia Marquez</td>
          </tr>
          <tr>
            <td>Género:</td>
            <td>Literatura</td>
          </tr>
          <tr>
            <td>Editorial:</td>
            <td>Editorial Gabook</td>
          </tr>
          <tr>
            <td>Año:</td>
            <td>2021</td>
          </tr>
          <tr>
            <td>Idioma:</td>
            <td>Español</td>
          </tr>
          <tr>
            <td>ISBN:</td>
            <td>123456789-1</td>
          </tr>
        </table>
      </section>
      <section class="libros-relacionados">
        <h2>
          Libros Relacionados:
        </h2>
        <article>
          <img src="./images/cien-anos-de-soledad.gif"  alt="cien años">
          <p>Titulo Libro</p>
          <p>$ 100.000 COP</p>
        </article>
        <article>
          <img src="./images/cien-anos-de-soledad.gif"  alt="cien años">
          <p>Titulo Libro</p>
          <p>$ 100.000 COP</p>
        </article>
        <article>
          <img src="./images/cien-anos-de-soledad.gif"  alt="cien años">
          <p>Titulo Libro</p>
          <p>$ 100.000 COP</p>
        </article>
        <article>
          <img src="./images/cien-anos-de-soledad.gif"  alt="cien años">
          <p>Titulo Libro</p>
          <p>$ 100.000 COP</p>
        </article>
      </section>
      <section class="comentarios">
        <h2>Comentarios</h2>
        <article>
          <p class="nombre">Diego Castillo</p>
          <p class="comentario">"El mejor libro."</p>
        </article>
        <article>
          <p class="nombre">Harold Sastoque</p>
          <p class="comentario">"Gran Autor, gran nobel."</p>
        </article>
        <article>
          <p class="nombre">Jose Salcedo</p>
          <p class="comentario">"Estando el coronel Aureliano Buendía frente al peloton de fusilamiento recordo aquella tarde en que su padre lo llevo a conocer el hielo"</p>
        </article>
        <p>Ver más</p>
      </section>
    </main>

    <footer></footer>

    <!-- <h1>Detalle del producto - Gabook</h1>
    <img src="./images/gabooklogo1.png" alt="" /> -->
  </body>
</html>
