@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  background-color: whitesmoke;
  font-family: "ubuntu", sans-serif;
  width: 100%;
  min-width: 350px;
  overflow-x: hidden;
}

/* ------ INDEX------------------------------ */

/* ---header INDEX ---*/
header {
  background: rgb(150, 1, 1);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  z-index: 9999;
  padding: 12px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  max-width: 1200px;
  z-index: 9998;
}

.logo {
  width: 200px;
  height: 70px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  /* position: relative; */
  /* top: 10px; */
}

.search {
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: 2px solid brown;
  height: 40px;
  border-radius: 7px;
  padding-left: 5px;
}

.user-cart a {
  display: block;
  text-align: center;
  font-size: 30px;
  /* border: 2px solid yellow; */
  color: white;
}

.search input {
  width: 90%;
  border: none;
  height: 100%;
  border-radius: 7px;
  outline: none;
}

.search i {
  cursor: pointer;
  display: block;
  width: 10%;
  text-align: center;
  font-size: 24px;
  color: rgb(94, 93, 93);
}

ul.user-cart {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-cart li {
  margin: 10px;
}

.user-cart ul li a {
  display: block;
}

.user-cart li a i {
  color: rgb(255, 255, 255);
}

.header-user-log {
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.header-login-image {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#header-user-menu{
  border: 1px solid black;
  position: absolute;
  display: none;
  background-color: white;
  border-radius: 4px;
}


#header-user-menu a {
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  padding: 6px;
  background-color: white;
  color: black;
  border-radius: 4px;
}

#header-user-menu a:hover {
  background-color: rgba(128, 0, 0, 0.377);

}
/* .header-login-image:hover ~ #header-user-menu{
  display: block;
} */

/* -------Banner------------------------------ */

#index-banner {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

#index-banner img {
  display: block;
  width: 100%;
}

/* --- Main - Home -------------------------- */
main.main-home {
  width: 100%;
  margin: auto;
  /* padding-top: 60px; */
}

.filter {
  position: relative;
  left: 3%;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination a {
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  margin: 5px;
  border: 2px solid rgb(168, 164, 164);
  border-radius: 10%;
  color: black;
}

.pagination .one {
  background-color: gray;
  color: white;
}

.pagination a#left,
a#right {
  color: black;
  border: 0px solid white;
}

.main-home h2 {
  width: inherit;
  padding: 20px;
  margin: auto;
  text-align: center;
}

.main-home section article {
  width: 250px;
  height: 470px;
  margin: auto;
  padding: 20px 20px 10px;
  margin-bottom: 30px;
  border: 2px solid pink;
  transition: all 0.6s;
  position: relative;
}

.main-home section article:hover {
  box-shadow: 0px 0px 23px 4px salmon;
}

.main-home section article img {
  display: block;
  width: 100%;
  height: 300px;
  margin: auto;
}

.main-home article .details h4,
.details p {
  margin-top: 6px;
  text-align: center;
}

section article #detalle--carrito {
  display: none;
  width: 100%;
  height: 35%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(14, 3, 3, 0.9);
}

#detalle--carrito a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;
}

#detalle--carrito button {
  width: 90%;
  margin: auto;
  height: 50px;
  background-color: brown;
  border-style: none;
  color: white;
  font-weight: bold;
  transition: 0.7s;
}

.main-home section article:hover #detalle--carrito {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
  /* border: 2px solid blue;   */
}

#detalle--carrito button:hover {
  background: rgb(150, 1, 1);
}

.details .stars {
  display: none;
}

.details h4 {
  font-size: 1.3rem;
  /* border: 2px solid salmon; */
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details p {
  font-style: italic;
}

.details .price {
  font-style: normal;
  font-size: 1.3rem;
  position: relative;
  right: 7px;
}

div#pag-down {
  width: 100%;
  margin: 25px 0;
  padding: 0;
}

/* --- Footer-Index ----------------------------------- */
footer {
  width: 100%;
  background-color: rgb(26, 22, 22);
  color: gainsboro;
  font-size: 15px;
  padding: 10px;
  text-align: center;
}

footer #logo-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

footer .logo {
  position: static;
  margin: auto;
}

footer h4 {
  text-align: center;
  padding: 3px;
  /* border: 2px solid red; */
}

footer ul {
  list-style: none;
}

footer ul.redes {
  display: flex;
  justify-content: center;
  /* border: 2px solid red; */
}

.redes li i {
  display: block;
  padding: 20px;
  font-size: 30px;
}

footer ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: inherit;
  padding: 5px;
}

footer #footer-options a {
  text-transform: uppercase;
  font-weight: bolder;
}

/* ___________LOGIN____________________________ */

#body-login {
  background-image: url(../images/backgrnd-login.jpg);
  background-size: cover;
}

#main-login {
  min-height: 700px;
  font-family: "ubuntu", sans-serif;
}

#main-login .cuadro-login {
  padding: 50px;
  margin: 50px 30px;
  box-shadow: 0px 0px 25px 5px rgba(36, 31, 31, 0.7);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  max-width: 500px;
  /* border: 2px solid lime; */
}

.login-atras {
  position: relative;
  bottom: 30px;
  right: 20px;
}

.login-atras a {
  text-decoration: none;
  color: black;
}

.login-atras i {
  scale: 1.5;
  margin-right: 10px;
}

.cuadro-login img {
  display: block;
  width: 95%;
  margin: auto;
}

.cuadro-login h2 {
  font-size: 1.4rem;
  text-align: center;
  padding: 0 0 20px;
}

.cuadro-login label {
  color: gray;
  font-style: italic;
}

.cuadro-login input {
  width: 100%;
  font-size: 1.8rem;
  border-style: none;
  border-bottom: 2px solid black;
  border-radius: 2px;
  margin-top: 5px;
}

.sin-cuenta {
  margin-top: 20px;
  text-align: center;
}

.cuadro-login button {
  width: 100%;
  height: 40px;
  margin-top: 30px;
  background-color: brown;
  border-style: none;
  color: white;
  border-radius: 7px;
  font-weight: bold;
}

/* _________________________________________ */

/* --- Media queries --- */

@media (min-width: 481px) {
  /* --- Index-Header --- */
  nav {
    justify-content: space-around;
  }

  .search i {
    font-size: 23px;
  }

  .search {
    /* width: 80%; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    order: 2;
    margin-bottom: 20px;
  }

  .search input {
    display: block;
    width: 100%;
  }

  .search i {
    width: 30px;
    color: lightgray;
    position: absolute;
    right: 5px;
  }

  ul.user-cart {
    height: 100px;
    width: auto;
  }

  .user-cart li {
    position: static;
  }

  .user-cart li a {
    display: flex;
    text-decoration: none;
  }

  .user-cart li a i {
    color: white;
    font-size: 23px;
  }

  /* ---Index-banner--------------------------- */

  #index-banner {
    top: 0;
  }

  /* --- Index-Main --- */

  .main-home .top-bar {
    display: flex;
    justify-content: flex-end;
  }
  .filter {
    position: static;
    padding: 3px;
  }

  .pagination {
    justify-content: flex-end;
    padding-right: 50px;
  }

  #pag-down {
    justify-content: center;
    position: relative;
    left: -20px;
  }

  .main-home h2 {
    width: 90%;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .main-home section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .main-home section article {
    scale: 0.85;
    margin: 20px;
  }

  /* --- Footer-Index --- */
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  footer #footer-options {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    align-items: center;
    order: -1;
    width: 300px;
  }

  footer #logo-footer {
    order: -1;
  }

  footer > h4 {
    width: 85%;
    padding: 10px 0;
    border-top: 1px solid gray;
  }

  /* ___________LOGIN____________________________ */
  #body-login {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 770px) {
  /* --- Index Header ----------------- */
  nav {
    justify-content: space-between;
  }
  .search {
    order: initial;
    width: 40%;
    margin-top: 28px;
  }

  ul.burger {
    height: 50px;
    width: 150px;
    position: absolute;
    left: 5%;
    top: 100px;
  }

  .burger a {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .burger a p {
    display: block;
    color: gray;
    text-transform: uppercase;
    font-weight: bolder;
  }

  .burger i {
    color: gray;
  }

  /* ----- index-banner--------------------------*/

  #index-banner {
    top: 50px;
  }

  /* --- Index-Main ----------------- */

  .main-home section article {
    height: 490px;
  }

  .details .stars {
    display: flex;
    justify-content: center;
    margin-top: 6px;
  }

  .details .stars i {
    display: block;
    color: rgb(233, 176, 20);
  }
}

/* --------PRODUCT-DETAIL-------------------------- */

/* product-detail-main */

.main-product-detail {
  width: 100%;
  max-width: 1200px;
  text-align: center;
  padding: 5px;
  margin: auto;
}

.main-product-detail section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-info-libro {
  width: 100%;
}

.main-product-detail .main-info-libro h1 {
  width: 100%;
  margin: 0;
  padding: 10px 0px 10px;
  border-bottom: 1px solid rgb(117, 117, 117);
}

.main-product-detail .main-info-libro h2 {
  width: 100%;
  margin: 0;
  padding: 10px 0px 10px;
  color: rgb(78, 78, 78);
}

.main-product-detail .main-info-libro .main-div--img {
  padding: 16px;
  margin: 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: rgba(153, 0, 0, 0.062);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 4px;
}

.main-product-detail .main-info-libro .main-div--img img {
  max-width: 70%;
  max-height: 250px;
}

.main-product-detail section article {
  width: 100%;
  padding: 10px;
  height: auto;
  margin: 0px;
  border: 0px;
}

.main-product-detail section article p {
  padding: 5px;
}

.main-product-detail section article .precio {
  padding: 5px;
  font-size: 1.65em;
}

.main-product-detail section article.comprar {
  border: 1px solid rgb(197, 197, 197);
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plus-minus-button {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(163, 163, 163);
  justify-content: space-between;
  padding: 0;
  margin: 10px;
  border-radius: 4px;
  height: 60px;
}

.minus,
.plus,
.input-minus-plus {
  width: 33%;
  text-align: center;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 32px;
 height: 60px;
}

.minus,
.plus {
  background-color: rgb(163, 163, 163);
  color: rgb(0, 0, 0);
  border-radius: 4px;
}

.minus:hover,
.plus:hover {
  background-color: rgb(150, 1, 1);
  color: rgb(255, 255, 255);
  transition: 0.4s;
}

.main-product-detail section article.comprar .button-comprar {
  border: 1px solid rgb(0, 0, 0);
  width: 80%;
  height: 60px;
  background-color: rgb(150, 1, 1);
  color: rgb(255, 255, 255);
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 24px;
}

.main-product-detail section article.comprar .button-comprar:hover {
  background-color: #02f547;
  color: rgb(0, 0, 0);
  transition: 0.3s;
  font-size: 26px;
 
}

.main-product-detail section .sipnosis p {
  padding: 0px;
  font-size: 16px;
  text-align: left;
}

.main-product-detail section table {
  text-align: left;
  padding: 5px;
  width: 100%;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.main-product-detail .libros-relacionados article {
  padding: 8px;
  border: 1px solid rgb(68, 68, 68);
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: rgb(197, 197, 197);
  width: 100%;
}
.main-product-detail .comentarios article .nombre {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
}

.main-product-detail .comentarios article .comentario {
  text-align: left;
  font-size: 16px;
}

.main-product-detail .main-info-libro article .titulo {
  display: none;
}

.main-product-detail .main-info-libro article .autor {
  display: none;
}

.main-product-detail section article p.precio {
  font-size: 36px;
  font-weight: bold;
}

.precio-desktop {
  display: none;
}

.book-detail-table-desktop {
  display: none;
}

/* @media (min-width: 481px) {
  .main-product-detail .main-info-libro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-product-detail .main-info-libro .titulo {
    display: none;
  }

  .main-product-detail .main-info-libro .autor {
    display: none;
  }

  .main-product-detail .main-info-libro article .titulo {
    display: block;
    font-size: 24px;
    border-bottom: 1px solid black;
  }

  .main-product-detail .main-info-libro article .autor {
    display: block;
    font-size: 16px;
  }

  .main-product-detail .main-info-libro .main-div--img {
    padding: 5px;
    margin: 0;
    width: 30%;
  }

  .main-product-detail .main-info-libro .main-div--img img {
    max-width: 100%;
  }

  .main-product-detail section article {
    width: 40%;
    padding: 10px;
    margin: 0px;
    border: 0px;
    display: flex;
    justify-content: flex-start;
 
    flex-direction: column;
    text-align: left;
  }

  .main-product-detail section article p {
    padding: 5px;
    font-size: 16px;
  }

  .main-product-detail section article p.precio {
    font-size: 18px;
    font-weight: bold;
    
  }

  .main-product-detail .main-info-libro .comprar {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    align-self: center;
  }

  .main-product-detail section article.comprar input {
    width: 80px;
    padding: 5px;
    border: 1px solid gray;
  }

  .main-product-detail section article.comprar a {
    text-decoration: none;
    padding: 8px;
    color: rgb(0, 0, 0);
    text-align: center;
  }

  .main-product-detail section article.comprar a:hover {
    text-decoration: none;
    padding: 8px;
    color: rgb(41, 243, 0);
  }

  .main-product-detail section .comprar button-comprar {
    border: 0px;
    width: 100%;
    background-color: rgb(0, 168, 14);
    color: rgb(0, 0, 0);
    border-radius: 4px;
    padding: 6px;
  }

  .main-product-detail section article.comprar button:hover {
    background-color: rgb(0, 255, 0);
  }
  .main-product-detail section .sipnosis {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    order: 0;
    width: 68%;
  }
  .main-product-detail section .sipnosis h2 {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
  }

  .main-product-detail section .sipnosis p {
    padding: 0px;
    font-size: 16px;
    text-align: left;
    width: 100%;
  }

  .main-product-detail section table {
    text-align: left;
    padding: 5px;
    width: 30%;
    order: -1;
    border: 1px solid rgb(221, 221, 221);
  }

  .main-product-detail section table tr,
  td {
    width: 40%;
  }

  .main-product-detail .comentarios {
    padding: 5px;
    margin-top: 10px;
    display: none;
  }
  .main-product-detail .comentarios article {
    width: 100%;
    background-color: rgb(238, 238, 238);
    border-radius: 4px;
    margin-bottom: 4px;
  }
  .main-product-detail .comentarios article .nombre {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
  }

  .main-product-detail .comentarios article .comentario {
    text-align: left;
    font-size: 16px;
    width: 100%;
  }
} */

@media (min-width: 760px) {
  .main-product-detail section table {
    text-align: left;
    padding: 5px;
    width: 25%;
    border: none;
  }
  .book-details {
    display: none;
  }
  .main-product-detail .main-info-libro .main-div--img {
    padding: 12px;
    margin: 0;
    width: 28%;
  }
  .main-product-detail .main-info-libro {
    justify-content: space-around;
  }
  .main-product-detail .main-info-libro .main-div--img img {
    max-width: 100%;
    max-height: 320px;
  }
  .main-product-detail section article.comprar {
    border: 1px solid rgb(197, 197, 197);
    width: 35%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .book-detail-table-mobile {
    display: none;
  }

  .precio-desktop {
    display: block;
    font-size: 24px;
  }

  .book-detail-table-desktop {
    display: flex;
    align-items: center;
  }
  .book-detail-table-desktop tr{
    display: block;
    margin-bottom: 8px;
  }
  
  .sipnosis h2 {
    margin-top: 20px;
    margin-bottom: 12px;
    text-align: left;
    
  }
  .sipnosis p {
    
    margin-bottom: 20px;
    
    
  }
}

.main-cart {
  font-family: "ubuntu", sans-serif;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}

.main-cart h1 {
  margin: 5px;
  width: 100%;
}

.main-cart .total {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.main-cart .total p {
  display: block;
  margin: 5px;
}

.main-cart .resumen-productos {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
}

.main-cart .resumen-productos article {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  border: 1px solid rgb(179, 179, 179);
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 5px;
}

.main-cart .resumen-productos article .book-image {
  width: 35%;
  padding: 5px;
}
.main-cart .resumen-productos article .book-image img {
  display: block;
  margin: auto;
  max-height: 270px;
  max-width: 90%;
}
.main-cart .resumen-productos article section {
  width: 65%;
  padding: 5px;
}

.main-cart .resumen-productos article section p,
h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.main-cart .resumen-productos article section .descuento {
  color: rgb(0, 136, 0);
  font-weight: bold;
}

.main-cart .resumen-productos article section .descripcion-libro {
  margin-top: 20px;
}

.main-cart .resumen-productos article section input {
  width: 60px;
}

.main-cart .resumen-productos article section .delete p {
  margin-top: 5px;
  background-color: rgb(190, 190, 190);
  border-radius: 4px;
  text-align: center;
  width: 120px;
  padding: 4px;
}

.main-cart .resumen-productos article section .delete p:hover {
  background-color: rgb(248, 64, 64);
  transition: 0.4s;
}

.main-cart .resumen-productos button {
  width: 100%;
  border-radius: 6px;
  margin-top: 10px;
  padding: 5px;
  background-color: rgb(0, 167, 0);
  border: 0px;
  box-shadow: rgb(163, 163, 163);
}

.main-cart .resumen-productos button:hover {
  background-color: rgb(0, 218, 0);
  transition: 0.5s;
}
.main-cart .resumen-pedido {
  width: 35%;
}

.main-cart .resumen-pedido article {
  width: 100%;
  padding: 10px;
}

.main-cart .resumen-pedido article .resumen-precios {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background-color: rgb(212, 212, 212);
  border-radius: 6px;
}

.main-cart .resumen-pedido article .resumen-precios h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.main-cart .resumen-pedido article .resumen-precios p {
  width: 50%;
}

.main-cart .resumen-pedido article .resumen-precios .valor {
  text-align: right;
}

.main-cart .resumen-pedido article button {
  width: 100%;
  border-radius: 6px;
  margin-top: 10px;
  padding: 5px;
  background-color: rgb(0, 167, 0);
  border: 0px;
  box-shadow: rgb(163, 163, 163);
}

.main-cart .resumen-pedido article button:hover {
  background-color: rgb(0, 224, 0);
  transition: 0.5s;
}
.main-cart .resumen-pedido article button p {
  margin: auto;
}

.main-cart .resumen-pedido article a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.main-cart .resumen-pedido .formas-de-pago {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-cart .resumen-pedido .formas-de-pago h3 {
  width: 100%;
  margin-bottom: 10px;
}
.main-cart .resumen-pedido .formas-de-pago div {
  width: 20%;
}

.main-cart .resumen-pedido .formas-de-pago img {
  width: 100%;
}

@media (max-width: 761px) {
  .main-cart .resumen-productos {
    width: 100%;
  }
  .main-cart .resumen-pedido {
    width: 100%;
  }

  .main-cart .resumen-productos button {
    order: -1;
    margin-bottom: 10px;
  }
}

@media (max-width: 481px) {
  .main-cart .resumen-productos article section .descripcion-libro {
    display: none;
  }
}

/* ---------------CART------------------------ */

/* ----------------Crear-Prodcucto------------- */

/* ___________LOGIN____________________________ */

.main-adminProdcuts {
  padding: 20px;
  width: 100%;
}

.main-adminProdcuts section form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-adminProdcuts section form div {
  width: 30%;
  margin-bottom: 15px;
}

.main-adminProdcuts section form .description {
  width: 100%;
}
.main-adminProdcuts section form .description textarea {
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgb(0, 0, 0);
  height: 100px;
  padding: 4px;
}

.main-adminProdcuts section form .new-product {
  display: block;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgb(0, 0, 0);
  padding: 8px;
  background-color: rgb(104, 207, 0);
  margin-bottom: 20px;
  text-align: center;
  margin-top: 10px;
}

.main-adminProdcuts section form .edit-product {
  display: block;
  width: 80%;
  border-radius: 4px;
  border: 1px solid rgb(0, 0, 0);
  padding: 8px;
  background-color: rgb(104, 207, 0);
  margin-bottom: 20px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
}

.main-adminProdcuts section form .edit-product:hover {
  transition: 0.3s;
  width: 100%;
}

.main-adminProdcuts section form .delete-product {
  display: block;
  width: 80%;
  border-radius: 4px;
  border: 1px solid rgb(0, 0, 0);
  padding: 8px;
  background-color: rgb(241, 0, 0);
  margin-bottom: 20px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
}
.main-adminProdcuts section form .delete-product:hover {
  transition: 0.3s;
  width: 100%;
}

.main-adminProdcuts section h1 {
  width: 100%;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(209, 209, 209);
}

.main-adminProdcuts section form div input {
  display: block;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgb(0, 0, 0);
  padding: 4px;
}

.main-adminProdcuts section .search-product-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-radius: 6px;
  width: 70%;
  border: 1px solid gray;
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
}
.main-adminProdcuts section .search-product-form input {
  width: 80%;
  border: none;
  margin-left: 8px;
  text-decoration: none;
  padding: 4px;
}

.main-adminProdcuts section .search-product-form button {
  border: none;
  margin-left: 8px;
  background-color: rgb(255, 255, 255);
}

.main-adminProdcuts .editar-producto table {
  display: block;
  width: 100%;
}

.main-adminProdcuts .editar-producto table tbody {
  width: 100%;
  display: block;
}
.main-adminProdcuts .editar-producto table tbody tr {
  display: block;
  width: 100%;
  border: 1px solid rgb(167, 167, 167);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 4px;
}

.main-adminProdcuts .editar-producto table tbody tr td {
  display: block;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-adminProdcuts .editar-producto table tbody tr .tittle {
  justify-content: flex-start;
}

.main-adminProdcuts .editar-producto table tbody tr .author {
  justify-content: flex-start;
}

.main-adminProdcuts .editar-producto table tbody tr td .edit {
  background-color: rgb(89, 179, 0);
  padding: 4px;
  border: none;
  width: 90%;
  border-radius: 6px;
  margin: 4px;
}
.main-adminProdcuts .editar-producto table tbody tr td .edit:hover {
  background-color: rgb(116, 233, 0);
  transition: 0.3s;
  width: 95%;
}

.main-adminProdcuts .editar-producto table tbody tr td form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-adminProdcuts .editar-producto table tbody tr td form .delete {
  background-color: rgb(209, 0, 0);
  padding: 4px;
  border: none;
  width: 90%;
  border-radius: 6px;
  margin: 4px;
}
.main-adminProdcuts .editar-producto table tbody tr td form .delete:hover {
  background-color: rgb(255, 0, 0);
  transition: 0.3s;
  width: 95%;
}

#profile-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid rgb(158, 158, 158);
  padding: 8px;
}

#profile-image img {
  height: 255px;
  width: 255px;
  border-radius: 8px;
}

@media (max-width: 761px) {
  .main-adminProdcuts section form div {
    width: 45%;
    margin-bottom: 15px;
  }
  .main-adminProdcuts .editar-producto table tbody tr .author {
    display: none;
  }
}

@media (max-width: 481px) {
  .main-adminProdcuts section form div {
    width: 100%;
    margin-bottom: 10px;
  }
  .main-adminProdcuts .editar-producto table tbody tr td {
    display: block;
    width: 25%;
    display: flex;
    /* align-content: center;
    justify-content: center; */
  }
}

.main-404 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.main-404 h2 {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.main-404 h1 {
  text-align: center;
  text-decoration: none;
  font-size: 28px;
}

.sign-in-error-text {
  color: rgb(255, 0, 0);
}

.error-form {
  color: rgb(255, 0, 0);
  font-style: italic;
}

.name-error-text , .password-error-text, .email-error-text, .image-error-text, .input-error{
  display: none;
  color: rgb(255, 0, 0);
  display: none;
}

.input-valid {
  background-color: rgba(153, 255, 0, 0.178);
}

.input-invalid {
  background-color: rgba(255, 0, 0, 0.397);
}

.message {
  display: none;
}

#warning-text-isbn, 
#warning-text-title,
#warning-text-author,
#warning-text-editorial,
#warning-text-year,
#warning-text-description,
#warning-text-price,
#warning-text-discount,
#warning-form-send{
  width: 100%;
  margin: 0;
}

#warning-form-send p {
 margin: auto;
}



.back-button {
  text-decoration: none;
  display: block;
  width: 100px;
  border-radius: 4px;
  border: 1px solid rgb(0, 0, 0);
  padding: 8px;
  background-color: rgb(104, 207, 0);
  margin-bottom: 20px;
  text-align: center;
  color: black;
}

.back-button:hover {
  transition: 0.3s;
  border: 1px solid rgb(156, 241, 71);
}

.show {
  display: block;
}
