<!DOCTYPE html>
<html lang="es">
  <!-- HEAD -->
  <%- include('./partials/head', {title : 'Error-404'}) %>
  <!-- HEAD -->
  <body>

    <%- include('./partials/header') %>

    <main class="main-404">
   
        <h1><i class="fas fa-tools"></i>  PAGINA NO ENCONTRADA  <i class="fas fa-tools"></i></h1>
        <!-- <h1><i class="fas fa-exclamation-circle"></i>  ERROR 404!  <i class="fas fa-exclamation-circle"></i></h1> -->
        <img src="/images/404.gif" alt="">
        <h2><a href="/">Volver al inicio  <i class="fas fa-undo"></i></a></h2>

    </main>

    <%- include('./partials/footer') %>
    
  </body>
</html>
