<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-wid th, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <title>Home - GaBook</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet"/>
</head>
<body class="index-body">
    <header>
        <nav>
            <div>
                <a href="/">
                    <img class="logo" src="./images/gabooklogoBlanco1.png" alt="">
                </a>
            </div>
            <form class="search">
                <input type="search" name="search" placeholder="  Búsqueda..." id="search-bar">
                <i class="fas fa-search"></i>
            </form>
            <ul class="burger">
                <li><a href="#"><i class="fas fa-bars"></i><p>Categorías</p></a></li>
            </ul>
            <ul class="user-cart">
                <li><a href="./cart"><i class="fas fa-shopping-cart"></i></a></li>
                <li><a href="./sign-in"><i class="fas fa-plus-circle"></i></a></li>
                <li><a href="./login"><i class="fas fa-user-circle"></i></a></li>
            </ul>
        </nav>
    </header>
    <div id="index-banner">
        <img src="./images/book-banner.jpg" alt="">
    </div>
    <main class="main-home">
        <div class="top-bar">
            <div class="filter">
                <select name="ordenar-por" id="order-by">
                    <option value="lower-to-higher">Menor a Mayor</option>
                    <option value="higher-to-lower">Mayor a Menor</option>
                    <option value="recommended">Recomendados</option>
                    <option value="top-rated">Mejores Calificados</option>
                </select>
            </div>
            <div class="pagination">
                <a href="#" id="left"><i class="fas fa-chevron-left"></i></a>
                <a href="#" class="one">1</a>
                <a href="#" class="number" >2</a>
                <a href="#"class="number">3</a>
                <a href="#" id="right"><i class="fas fa-chevron-right"></i></a>
            </div>
        </div>
        <h2>LIBROS GABOOK</h2>
        <section>
            <article>
                <img src="./images/cien-anos-de-soledad.gif" alt="">
                <div class="details">
                    <h4>Cien Años de Soledad</h4>
                    <p>Editorial Gabo</p>
                    <div class="stars">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <p class="price">$ 100.000<p>
                </div>
                <div id="detalle--carrito">
                    <button type="submit"><a href="./product-detail">Detalles</a></button>
                    <button type="submit"><a href="./cart">Añadir al Carrito</a></button>
                </div>
            </article>
            <article>
                <img src="./images/Código-da-Vinci.jpg" alt="">
                <div class="details">
                    <h4>El Código Da Vinci</h4>
                    <p>Editorial Gabo</p>
                    <div class="stars">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <p class="price">$ 100.000<p>
                </div>
                <div id="detalle--carrito">
                    <button type="submit"><a href="./product-detail">Detalles</a></button>
                    <button type="submit"><a href="./cart">Añadir al Carrito</a></button>
                </div>
            </article>
            <article>
                <img src="./images/el-cuervo.jpeg" alt="">
                <div class="details">
                    <h4>El Cuervo</h4>
                    <p>Editorial Gabo</p>
                    <div class="stars">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <p class="price">$ 100.000<p>
                </div>
                <div id="detalle--carrito">
                    <button type="submit"><a href="./product-detail">Detalles</a></button>
                    <button type="submit"><a href="./cart">Añadir al Carrito</a></button>
                </div>
            </article>
            <article>
                <img src="./images/El-Diario-de-Ana-Frank..jpg" alt="">
                <div class="details">
                    <h4>El Diario de Ana Frank</h4>
                    <p>Editorial Gabo</p>
                    <div class="stars">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <p class="price">$ 100.000<p>
                </div>
                <div id="detalle--carrito">
                    <button type="submit"><a href="./product-detail">Detalles</a></button>
                    <button type="submit"><a href="./cart">Añadir al Carrito</a></button>
                </div>
            </article>
            <article>
                <img src="./images/El-Señor-de-las-Moscas.jpg" alt="">
                <div class="details">
                    <h4>El Señor de las Moscas</h4>
                    <p>Editorial Gabo</p>
                    <div class="stars">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <p class="price">$ 100.000<p>
                </div>
                <div id="detalle--carrito">
                    <button type="submit"><a href="./product-detail">Detalles</a></button>
                    <button type="submit"><a href="./cart">Añadir al Carrito</a></button>
                </div>
            </article>
            <article>
                <img src="./images/Harry-Potter-y-la-piedra-filosofal.jpg" alt="">
                <div class="details">
                    <h4>Harry Potter y la Piedra Filosofal</h4>
                    <p>Editorial Gabo</p>
                    <div class="stars">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <p class="price">$ 100.000<p>
                </div>
                <div id="detalle--carrito">
                    <button type="submit"><a href="./product-detail">Detalles</a></button>
                    <button type="submit"><a href="./cart">Añadir al Carrito</a></button>
                </div>
            </article>
            <article>
                <img src="./images/la-teoria-del-caos.jpg" alt="">
                <div class="details">
                    <h4>La Teoría del Caos</h4>
                    <p>Editorial Gabo</p>
                    <div class="stars">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <p class="price">$ 100.000<p>
                </div>
                <div id="detalle--carrito">
                    <button type="submit"><a href="./product-detail">Detalles</a></button>
                    <button type="submit"><a href="./cart">Añadir al Carrito</a></button>
                </div>
            </article>
            <article>
                <img src="./images/Los-viajes-de-Gulliver-Jonathan-Swift.jpg" alt="">
                <div class="details">
                    <h4>Los Viajes de Gulliver</h4>
                    <p>Editorial Gabo</p>
                    <div class="stars">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <p class="price">$ 100.000<p>
                </div>
                <div id="detalle--carrito">
                    <button type="submit"><a href="./product-detail">Detalles</a></button>
                    <button type="submit"><a href="./cart">Añadir al Carrito</a></button>
                </div>
            </article>
        </section>
        <div class="pagination" id="pag-down">
            <a href="#" id="left"><i class="fas fa-chevron-left"></i></a>
            <a href="#" class="one">1</a>
            <a href="#" class="number" >2</a>
            <a href="#"class="number">3</a>
            <a href="#" id="right"><i class="fas fa-chevron-right"></i></a>
        </div>
    </main>

    <footer>
        <div id="logo-footer">
            <img class="logo" src="./images/gabooklogoBlanco1.png" alt="">
        </div>
        <div>
            <h4>También nos puedes encontrar en:</h4>
            <ul class="redes">
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fab fa-instagram"></i></li>
                <li><i class="fab fa-facebook-square"></i></li>
            </ul>
        </div>
        <ul id="footer-options">
            <li><a href="">Inicio</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Sobre Nosotros</a></li>
        </ul>
        <h4>©Gabook 2021 | Todos los derechos reservados</h4>
    </footer>
</body>
</html>