<footer>
    <div id="logo-footer">
        <img class="logo" src="/images/gabooklogoBlanco1.png" alt="">
    </div>
    <div>
        <h4>También nos puedes encontrar en:</h4>
        <ul class="redes">
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-facebook-square"></i></li>
        </ul>
    </div>
    <ul id="footer-options">
        <li><a href="">Inicio</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Sobre Nosotros</a></li>
    </ul>
    <h4>©Gabook 2021 | Todos los derechos reservados</h4>
</footer>