<header>
  <nav>
    <div>
      <a href="/">
        <img class="logo" src="/images/gabooklogoBlanco1.png" alt="" />
      </a>
    </div>
    <form class="search" action="/search" method="GET">
      <input
        type="search"
        name="keywords"
        placeholder="  Búsqueda..."
        id="search-bar"
      />
      <i class="fas fa-search"></i>
    </form>
    <ul class="user-cart">
      <li>
        <a href="./cart"><i class="fas fa-shopping-cart"></i></a>
      </li>

      <% if (locals.isLogged ) {%>
      <li><p><%= user.name%></p></li>
      <%}%> <% if (locals.isLogged ) {%>
      <li>
        <div x>
          <img
            class="header-login-image"
            src="/images/users/<%= user.image%>"
            alt="ImageProfile"
          />
        </div>
      </li>
      <%}%> <% if (locals.isLogged ) {%>
      <li>
        <a href="/logout"><i class="fas fa-sign-out-alt"></i></a>
      </li>
      <%}%> <% if (!locals.isLogged ) {%>
      <li>
        <a href="/signIn"><i class="fas fa-plus-circle"></i></a>
      </li>
      <%}%> <% if (!locals.isLogged ) {%>
      <li>
        <a href="/login"><i class="fas fa-user-circle"></i></a>
      </li>
      <%}%>
    </ul>
  </nav>
</header>
