@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  background-color: whitesmoke;
  font-family: "ubuntu", sans-serif;
  min-width: 350px;
}

.main-cart {
  font-family: "ubuntu", sans-serif;
  /* max-width debe ir ates del width para que se aplique */
  max-width: 1200px;
  /* Con 100vw en desktop parece la barra horizontal */
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}

.main-cart h1 {
  margin: 5px;
  width: 100%;
}

.main-cart .total {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.main-cart .total p {
  display: block;
  margin: 5px;
}

.main-cart .resumen-productos {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
}

.main-cart .resumen-productos article {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  border: 1px solid rgb(179, 179, 179);
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.main-cart .resumen-productos article .book-image {
  width: 35%;
  padding: 5px;
}
.main-cart .resumen-productos article .book-image img {
  display: block;
  margin: auto;
  max-height: 270px;
  max-width: 90%;

}
.main-cart .resumen-productos article section {
  width: 65%;
  padding: 5px;
}

.main-cart .resumen-productos article section p,
h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.main-cart .resumen-productos article section .descuento {
  color: rgb(0, 136, 0);
  font-weight: bold;
}

.main-cart .resumen-productos article section .descripcion-libro {
  margin-top: 20px;
}

.main-cart .resumen-productos article section input {
  width: 60px;
}

.main-cart .resumen-productos article section .delete p {
  margin-top: 5px;
  background-color: rgb(190, 190, 190);
  border-radius: 4px;
  text-align: center;
  width: 120px;
  padding: 4px;
}

.main-cart .resumen-productos article section .delete p:hover {
  background-color: rgb(248, 64, 64);
}

.main-cart .resumen-productos  button {
  width: 100%;
  border-radius: 6px;
  margin-top: 10px;
  padding: 5px;
  background-color: rgb(0, 167, 0);
  border: 0px;
  box-shadow: rgb(163, 163, 163);
}

.main-cart .resumen-productos  button:hover {

  background-color: rgb(0, 218, 0);
  transition: 0.5s;

}
.main-cart .resumen-pedido {
  width: 35%;
}

.main-cart .resumen-pedido article {
  width: 100%;
  padding: 10px;
}

.main-cart .resumen-pedido article .resumen-precios {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background-color: rgb(212, 212, 212);
  border-radius: 6px;
}

.main-cart .resumen-pedido article .resumen-precios h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.main-cart .resumen-pedido article .resumen-precios p {
  width: 50%;
}

.main-cart .resumen-pedido article .resumen-precios .valor {
  text-align: right;
}

.main-cart .resumen-pedido article button {
  width: 100%;
  border-radius: 6px;
  margin-top: 10px;
  padding: 5px;
  background-color: rgb(0, 167, 0);
  border: 0px;
  box-shadow: rgb(163, 163, 163);
}

.main-cart .resumen-pedido article button:hover {
  background-color: rgb(0, 224, 0);
  transition: 0.5s;
}
.main-cart .resumen-pedido article button p {
  margin: auto;
}

.main-cart .resumen-pedido article a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.main-cart .resumen-pedido .formas-de-pago {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-cart .resumen-pedido .formas-de-pago h3 {
  width: 100%;
  margin-bottom: 10px;
}
.main-cart .resumen-pedido .formas-de-pago div {
  width: 20%;
}

.main-cart .resumen-pedido .formas-de-pago img {
  width: 100%;
}

@media (max-width: 761px) {


  .main-cart .resumen-productos {
    width: 100%;
  }
  .main-cart .resumen-pedido {
    width: 100%;
  }

  .main-cart .resumen-productos  button {
    order: -1;
    margin-bottom: 10px;
  }
}

@media (max-width: 481px) {
  .main-cart .resumen-productos article section .descripcion-libro {
    display: none;
  }

}

