<!DOCTYPE html>
<html lang="es">
  <!-- HEAD -->
  <%- include('../partials/head', {title : 'Inicio de Sesión'}) %>
  <!-- HEAD -->
  <body id="body-login">
    <main id="main-login">
      <div class="cuadro-login">
        <div class="login-atras">
          <a href="/"><i class="fas fa-arrow-circle-left"></i>Atrás</a>
        </div>
        <img src="./images/gabooklogo1.png" alt="" />
        <h2>¡Hola Bienvenido! Inicia tu Sesión:</h2>
        <form action="/login" method="POST">
          <% if (locals.data ) {%>
            <p ><%= data.name%></p>
            <%}%>
          <br>
          <p>
            <label for="login-user">Nombre de usuario:</label>
            <br />
            <input type="text" name="name" minlength="2" required />
          </p>
          <br />
          <p>
            <label for="login-passwd">Contraseña:</label>
            <br />
            <input
              type="password"
              name="login-passwd"
              id="login-passwd"
              required
            />
          </p>
          <br />

          <button type="submit">Ingresa</button>
        </form>
        <div class="sin-cuenta">
          <p>
            <a href="#">¿Olvidaste tu contrasña?</a>
          </p>
          <br />
          <p>
            ¿No estás registrado(a)? <a href="./signIn">Regístrare en GaBook</a>
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
