<!DOCTYPE html>
<html lang="es">
  <!-- HEAD -->
  <%- include('../partials/head', {title : 'Inicio de Sesión'}) %>
  <!-- HEAD -->
  <body id="body-login">
    <main id="main-login">
      <div class="cuadro-login">
        <div class="login-atras">
          <a href="/"><i class="fas fa-arrow-circle-left"></i>Atrás</a>
        </div>
        <img src="./images/gabooklogo1.png" alt="" />
        <h2>¡Bienvenido! Registrate:</h2>
        <% if (locals.errors) { errors.forEach(error => {%>
        <p><%= error.msg%></p>
        <%}) }%>
        <form action="/signIn" method="POST" enctype="multipart/form-data">
          <p>
            <label for="login-user">Usuario: *</label>
            <br />
            <input type="text" name="name" minlength="3" />
          </p>
          <br />
          <p>
            <label for="login-passwd">Contraseña: *</label>
            <br />
            <input type="password" name="login-passwd" id="login-passwd" />
          </p>
          <br />
          <!-- <p>
            <label for="login-passwd">Confirmar contraseña: *</label>
            <br />
            <input
              type="password"
              name="login-passwd"
              id="login-passwd"
              required
            />
          </p> -->
          <p>
            <label for="login-image">Imagen:</label>
            <br />
            <input type="file" name="login-image" id="login-image" />
          </p>
          <button type="submit">Registrarme</button>
        </form>
        <div class="sin-cuenta">
          <p>
            ¿Ya tienes una cuenta? <a href="./login">Inicia sesion en GaBook</a>
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
